* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    height: 150px;
    position: relative;    
    
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba( 10,10,10, 0.8);
}

nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 3px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.imagenCurso {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.subImage h3, .subImage a, .subImage p {
    margin: 10px;
}

/*--------------pagina Carrito --------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 15px;
    
}

.products-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title {
    width: 45%;
}

.precio {
    width: 15%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total {
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.cantidad {
    width: 30%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}